In [ ]:
Introduction to Jupyter Notebook

In [ ]:
# the 'blue' color outside the cell = COMMAND MODE
# the 'green' color outside the cell = EDIT MODE
# the 'esc' button takes from EDIT MODE to COMMAND MODE
# the 'enter' button takes from COMMAND MODE to EDIT MODE
# the 'P' button view the list of all available commands

In [1]:
# print 'hello <name>' as first python coding program

name = input('ENTER YOYR NAME: ')
print('Hello, ',name)

# 'shift + enter' to execute the cell

ENTER YOYR NAME:  Karthika Rajagopal

Hello,  Karthika Rajagopal

In [4]:
When the cell is in COMMAND MODE i.e. 'blue' in color and if press 'M' the cell comes into MARKDOWN and there can write any type of text like:
--> # for tittle --> ## for the main headings --> ### for the subheadings --> #### for the smaller subheadings --> ##### for the italic subheadings

string or string for bold_text string or string for italic text

MONOSPACE FONTS like:--> (`) i.e. to highlight any text in the notebook have to use `after and before` any text.

SyntaxError: invalid syntax (1224686982.py, line 1)

In [12]:
after and before

LINE BREAKER denoted by "<br>".."<br>"at the end of the line example... "<br>"..my name is karthika Rajagopal "<br>"..i live in bangalore "<br>"..this is my first python practice

SyntaxError: invalid syntax (2947303253.py, line 5)

In [ ]:
my name is karthika Rajagopal
i live in bangalore
this is my first python practice

note: (" \ ") this backslash reduces the power of either ` or "<br>"..

for indentation in text will use : > or >> or >>> and goes on
> my name is karthika
>> i live in bangalore
>>> my first python program

my name is karthika

i live in bangalore

my first python program

bullets and numbering in text be like using
"- " --> deash and space creates a bullet
\TAB with dash and space creates a sub-bullet
\number followed by dot and a space creates numbering
\TAB number followed by dot and space creates alphabets from 1 to 26 i.e. a to z in capital

bullte
sub bullet
numbering
numbering two 3. numbering three
COLORING

blue color written as "<font color = blue> blue color </font>"
red color
TO ADD AN IMAGE

"<img src = "image_url">"

copy the image and directly paste the link

In [ ]:
LaTeX Equations written as with $ sign on either side of the equation

 (a/2+ 2/a)=(1/50a)= written as "$(a/2 +2/a) = (1/50a)$"

 
 (a1/a2)= written as "$(\frac{a_1}{a_2})$"

 a^3/5 = written as "$a_5^3$"

to learn LaTeX = https://en.wikibooks.org/wiki/LaTeX/Mathematics

In [ ]:
Basic Commands

In [ ]:
That was all about markdown cells. Now let us take a look at the most useful commands that you require every day while coding in the Jupyter notebook.

Command Mode Shortcuts
Esc: To go into command mode
Enter: To go back to edit mode
M: To convert a cell to a markdown cell
Y: To convert a cell back to a code cell
A: To insert new cell above
B: To insert new cell below
D + D: To delete cell
Z: Undo the last operation
F: To find and replace on your code
Shift + Up/Down: To select multiple cells
Space: Scroll notebook downwards
Shift + Space: Scroll notebook upwards

In [ ]:
Edit Mode Shortcuts
Shift + Enter: To execute the code in the current cell and go to the next cell
Alt + Enter: To execute the code in the current cell and insert new cell below
Shift + Tab: To get brief documentation of the object that you have just typed in the coding cell
Ctrl + Shift + -: To split the cell at cursor
Shift + M: To merge selected cells
Apart from this, you can also use H to open the list of keyboard shortcuts and even add new shortcuts or customize the existing shortcuts according to your personal requirements.